body {
    font-family: Consolas, Monaco, monospace;
    background-color: rgb(216, 216, 216);
}

.name {
    background-color: #e7e9ef;
    margin: 0 auto;
    max-width: 300px;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    border: 1mm ridge #adadad;
}

.name > p {
    font-size: 2rem;
    flex: 0 0 20vw;
    text-align: center;
}

.game-content {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.controls {
    align-self: center;
    flex-direction: column;
    background-color: #e7e9ef;
    flex: 0 0 200px;
    height: 256px;
    border-radius: 1rem;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border: 1mm ridge #adadad;
    padding: 1rem;
}

.clear-button {
    margin-top: 30px;
    width: 124px;
    height: 40px;
    border-radius: 0.5rem;
    border: 0.3mm solid #8d8d92;
    font-size: 1rem;
}

.slider p {
    display: inline;
    font-size: 1rem;
    font-weight: 400;
    padding-left:30px;
}

.slider label {
    margin-left: 0.1rem;
}

.sketch-pad {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 512px;
    height: 512px;
    background-color: #e7e9ef;
    border-radius: 1rem;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border: 1mm ridge #adadad;
    padding: 0.5rem;
    background-clip: padding-box;

    background-color: #3b3a3a;
}


