body {
    font-family: Consolas, Monaco, monospace;
    background-color: rgb(216, 216, 216);
}

.name {
    background-color: #e7e9ef;
    margin: 0 auto;
    max-width: 300px;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    border: 1mm ridge #adadad;
}

.name > p {
    font-size: 2rem;
    flex: 0 0 20vw;
    text-align: center;
}

.game-content {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.controls {
    background-color: #e7e9ef;
    flex: 0 0 200px;
    height: 500px;
    border-radius: 1rem;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border: 1mm ridge #adadad;
}

.slider p {
    display: inline;
    font-size: 1rem;
    font-weight: 400;
    padding-left:30px;
}

.slider label {
    margin-left: 0.1rem;
}

.sketch-pad {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 500px;
    background-color: #e7e9ef;
    border-radius: 1rem;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border: 1mm ridge #adadad;
}


